# --------------------
# Python / tooling
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
.env/

# Python version managers
.python-version

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Data / other folders
# --------------------
data/raw/
data/processed/
data/mlflow_exported
literature
feature_plots/*
peak_detection_plots/*
mlruns

# Allow empty dirs to exist
!feature_plots/.gitkeep
!peak_detection_plots/.gitkeep
!data/raw/.gitkeep
!data/mflow_exported/.gitkeep

# --------------------
# Media / generated outputs
# --------------------
media/generated

# --------------------
# Logs & temp files
# --------------------
*.log
*.tmp
*.bak

# --------------------
# OS / editor junk
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/


# --------------------
# Tests / coverage
# --------------------
.coverage
htmlcov/
.pytest_cache/
